@charset "utf-8";

body {
color: #000000;
background-color: #ff0000
}
#img{
background-color: #FFFFFF;
margin-left: 30px;
margin-top: 30px;
margin-bottom: 0px;
width: 548.594;
height: 367.094;
}
#img img{
width: 548.594;
height: 367.094;
}
#data{
background-color: #FFFFFF;
margin-right: 30px;
margin-top: -367px;
margin-left: 684px;
margin-bottom: 0px;
width: 548.594;
height: 367.094;
}
#data .s_data{
font-size:60px;
}
#txt{
background-color: #FFFFFF;
margin-top: 90px;
margin-left: 30px;
margin-bottom: 0px;
width: 1202.594;
height: 327.094;
}
#txt .t_data{
font-size:70px;
}
#simple-menu{
	font-size:40px;
}
#sidr{
	font-size:40px;
}
.sidr ul li a{
	padding-right: 15px!important;
	padding-top: 35px!important;
	padding-bottom: 35px!important;
	padding-left: 15px!important;
}
