@charset "utf-8";

body {
color: #000000;
background-color: #ff0000
}
#txt{
background-color: #FFFFFF;
margin-top: 90px;
margin-left: 30px;
margin-bottom: 0px;
width: 1202.594;
height: 327.094;
}
#doctor{
	font-size:40px;
}
#name{
font-size:40px;
height: 60px;
width: 300px;
}
#txt_box{
font-size:40px;
height: 60px;
width: 150px;
}